
<div class="container-main">
    
    <h2>Alertas</h2>
    <md-content layout-padding>
        <div layout="row">
            <div flex="25" flex-offset="20">
                <table class="table table-hover table-vehicles">
                    <thead>
                        <th>Vehiculo</th>
                        <th>Fecha</th>
                    </thead>
                    <tr ng-repeat="alert in alerts | startFrom:(currentPage - 1) * pageSize | limitTo : pageSize">
                        <td>{{alert.vehicle}}</td>
                        <td>{{alert.date}}</td>
                        <td>
                            <md-button href="#!/adminalerts/load/{{alert.id}}" aria-label="see">
                                <md-icon md-svg-icon="./images/icons/eye.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </table>
                <ul uib-pagination total-items="arrayVehicles.length" class="pagination-sm" ng-model="currentPage" items-per-page="pageSize" max-size="5" class="pagination" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </md-content>
</div>